<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.scss" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>
  <div class="main-wrapper">
    <h1 class="Mainpage-heading">Looking to adopt furry angels?</h1>
   </div>
   <div class="card-wrapper">
     <div class="item-cards">
       <div class="item-image">
          <img src="https://images.squarespace-cdn.com/content/v1/5538679ce4b07179e5b8a295/1675326874278-2BNDO82OTLMHBNJBZVC7/mexico2022-20220831-A51A6855.jpg?format=2500w" loading="lazy" alt="dog image" >
          <div class="item-title">Save Our Scruff</div>
       </div>
     </div>
     <div class="item-cards">
       <div class="item-image">
          <img src="https://images.squarespace-cdn.com/content/v1/5bbba72a2727be42cf12b47a/a42eb64b-6b5a-4740-9336-88e70711b9e7/home+banner.jpg?format=2500w" loading="lazy" alt="cat image" >
          <div class="item-title">VOKRA</div>
       </div>
     </div>
     <div class="item-cards">
       <div class="item-image">
          <img src="https://img1.wsimg.com/isteam/ip/c2f96be2-3201-4a50-97c7-e8eeafe72c2f/20230515_090747.jpg/:/cr=t:0%25,l:0.12%25,w:99.77%25,h:100%25/rs=w:2480,h:1240,cg:true" loading="lazy" alt="horse image" >
          <div class="item-title">Horse Heroes Alberta</div>
       </div>
     </div>
   </div>
 </body>


</html>
