<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Create New Resource</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/header.css" />
  <link rel="stylesheet" href="/styles/new_resource.css" />

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>
  <main id="main-container">
    <section id="section-container">
      <article>
        <h2>Create New Resource</h2>
        <form id="add-resource" method="POST" action="/api/resources/new">
          <fieldset>
            <label for="title">Title:</label>
            <div></div>
            <input id="title" type="text" name="title" placeholder="Enter resource title..."/>
            <label for="url">URL:</label>
            <div></div>
            <input id="url" type="text" name="url" placeholder="Add URL https://" />
            <label for="url">Cover Image:</label>
            <div></div>
            <input id="url" type="text" name="url" placeholder="Add Image URL https://" />
            <label for="description">Description:</label>
            <div></div>
            <textarea id="description" type="text" name="description" placeholder="Add description..."></textarea>
          </fieldset>
          <div id="select-category">
            <label for="select-category">Select Category</label>
              <select id="select-dropdown" name="categoryId">
                <option disabled selected>Choose Category</option>
                <option value="1">Dogs</option>
                <option value="2">Cats</option>
                <option value="3">Horses</option>
              </select>
          </div>
          <div class="button">
            <button type="button">Cancel</button>
            <button id="margin-submit" type="submit">Submit</button>
          </div>
        </form>
      </article>
    </section>
  </main>
</body>
</html>

