<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Resources</h1>
  <% resources.forEach((resource) => { %>
   <p>Title <%= resource.title%></p>
   <p>url <%= resource.url%></p>
   <p>description <%= resource.description%></p>
   <p>Cover <%= resource.url_cover_photo%></p>
  <%})%>
</body>
</html>
﻿
