nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100vw;
  background-color: #25908bcf;
  color: white;
  padding-top: 35px;
  font-size: 20px;
}

.title {
  color: white;
  font-size: 30px;
  padding-left: 30px;
  text-decoration: none;
}

.title:hover {
  color: rgb(91, 240, 235);
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-style: solid;
  transition:  color 0.5s ease-in;
}

.nav-items a {
  color: white;
  padding-right: 18px;
}

#search-dropdown {
  border-radius: 10px;
  width: 200px;
  border-color: transparent;
}

.header-button {
  border-radius: 10px;
  border-color: transparent;
  background-color: rgb(255, 255, 255);
}

.header-button:hover {
  color: rgb(24, 192, 192);
}

.nav-font {
  text-decoration: none;
}

.nav-font:hover {
  color: rgb(91, 240, 235);
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-style: solid;
  transition:  color 0.5s ease-in;
}
