body {
  background-image: url('../image/job562-nunoon-10.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  font-size: 20px;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: teal;
}

.Mainpage-heading {
  padding-top: 60px;
}

.main-layout {
  display: flex;
}

.card-wrapper {
  display: flex;
  justify-content: space-around;
  width: 33vw;
}
.item-cards {
  display:flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.item-image img {
  width: 270px;
  height: 230px;
  border-radius: 15%;
}

.item-title {
  display:flex;
  justify-content: center;
}
