.one {
  display: flex;
  justify-content: center;
  padding-top: 50px;

}

.image-center {
  align-self: center;
}

img {
  width: 300px;
  border-radius: 20px;
}

section {
  width: 500px;
  padding-left: 40px;
}

#form-divider {
padding-bottom: 10px;
}

.single-form {
  width: 400px;
  padding-bottom: 10px;
}

.comments {
  padding-bottom: 50px;
}

.comments-others {
  padding-bottom: 50px;
}
