body {
  height: 100vh;
}

.one {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  height: 100vh;
}

.image-border {
  border-color: transparent;
}

.image-center {
  align-self: center;
}

img {
  width: 300px;
  border-radius: 20px;
}

section {
  width: 500px;
  padding-left: 40px;
}

.url {
  background-color: white;
  width: 500px;
  height: 30px;
  border-radius: 15px;
  padding-top: 5px;
  padding-left: 15px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: #25908bcf;
  color: white;
}

.description {
  word-wrap: break-word;
  height: 80px;
  padding-left: 15px;
}

.comment-rating {
  display: flex;
  justify-content: space-between;
  width: 500px;
  padding-top: 20px;
  color: teal;
  font-weight: 600;
}

.comments-rates {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding-top: 10px;
}

.padding-submit {
  margin-left: 20px;
  border-radius: 15px;
  border-color: transparent;
  background-color: rgb(9, 166, 166);
  color: white;
}

.other-users {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.other-comments {
  background-color: white;
  border-radius: 15px;
  height: 40px;
  width: 450px;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: -5px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

#select-dropdown {
  width: 35px;
  align-self: center;
  margin-top: 10px;
}

.other-ratings {
  background-color: white;
  border-radius: 15px;
  height: 25px;
  width: 30px;
  text-align: center;
  padding-top: 4px;
  margin-top: -1.5px;
}

.others-background {
  background-color: white;
  border-radius: 15px;
}

.like {
  display: flex;
  justify-content: end;
  width: 500px;
}

#margin-like {
  border-color: transparent;
  background-color: pink;
  margin-bottom: 50px;
}

#margin-like:hover {
  box-shadow: 6px 6px #cd67a0;
}

.single-form {
  width: 500px;
  background-color: white;
  border-radius: 15px;
  padding-top: 10px;
}

.text-center {
  text-align: center;
  background-color: transparent;
  font-size: 30px;
  font-weight: bold;
  color: teal;
}

.submit-end {
  align-self: end;
  padding-top: 10px;
}

.comments {
  padding-bottom: 50px;
  padding-left: 15px;
}

.comments-others {
  padding-bottom: 50px;
}
